/** 
* adding the CSS through block.json was not working. There is a ticket for it: 
* https://wordpress.org/support/topic/custom-gutenberg-block-styles-not-loading-on-frontend/
*/

/** styles for ics-calendar plugin elements */
.ics-calendar-title {
    display: none;
}

/** styles for ucla-calendar-ics-feeds plugin elements */
.ucla-select-calendars__field-select {
    padding: 4px;
}

.ucla-select-calendars__field-select option:checked {
    background-color: cornflowerblue;
}